In [ ]:
import pandas as pd
import datetime as dt
from forex_python import converter as forex
'''
forex.get_rate('EUR', 'USD')
1.1262
forex.get_rates('EUR')
{'USD': 1.1262, 'JPY': 128.25, 'BGN': 1.9558, 'CZK': 25.271, 'DKK': 7.4362, 'GBP': 0.8498, 'HUF': 369.09, 'PLN': 4.6272, 'RON': 4.9493, 'SEK': 10.2565, 'CHF': 1.0416, 'ISK': 146.8, 'NOK': 10.2278, 'HRK': 7.5208, 'RUB': 83.0838, 'TRY': 16.5612, 'AUD': 1.5763, 'BRL': 6.4354, 'CAD': 1.4496, 'CNY': 7.1691, 'HKD': 8.7861, 'IDR': 16165.75, 'INR': 86.0345, 'KRW': 1335.4, 'MXN': 23.8856, 'MYR': 4.7638, 'NZD': 1.6689, 'PHP': 56.574, 'SGD': 1.5405, 'THB': 37.615, 'ZAR': 18.1976}
'''

def compile_history(days:int=8000, cooldown:int=1) -> pd.DataFrame:
    ''' gets, one by one and compiles the last x days of data '''
    import time
    now = dt.datetime.today()
    df = pd.DataFrame({})
    for i in range(days): 
        time.sleep(cooldown)
        date = now - dt.timedelta(days=i)
        rates = forex.get_rates('EUR', date)
        rates['year'] = date.year
        rates['month'] = date.month
        rates['day'] = date.day
        rates['weekday'] = date.weekday()
        print(date, rates)
        df.append(pd.DataFrame(rates))
    print()

In [3]:
import time    
import pandas as pd
import datetime as dt
from forex_python import converter as forex

In [17]:
days = 6
now = dt.datetime.today()
df = pd.DataFrame({})
str(date.date())

'2021-12-16'

In [24]:
for i in range(days): 
    date = (now - dt.timedelta(days=i)).date()
    rates = forex.get_rates('EUR', date)
    rates['year'] = date.year
    rates['month'] = date.month
    rates['day'] = date.day
    rates['weekday'] = date.weekday()
    print(date)
    df = df.append(pd.DataFrame(rates, index=[str(date)]))
df

2021-12-16
2021-12-15
2021-12-14
2021-12-13
2021-12-12
2021-12-11

,USD,JPY,BGN,CZK,DKK,GBP,HUF,PLN,RON,SEK,...,MYR,NZD,PHP,SGD,THB,ZAR,year,month,day,weekday
2021-12-16,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,16,3
2021-12-15,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,15,2
2021-12-14,1.1309,128.45,1.9558,25.334,7.4362,0.85345,366.85,4.6300,4.9494,10.2810,...,4.7860,1.6723,56.882,1.5469,37.716,18.1219,2021,12,14,1
2021-12-13,1.1278,128.19,1.9558,25.401,7.4362,0.85158,367.07,4.6221,4.9494,10.2310,...,4.7678,1.6651,56.731,1.5420,37.612,17.9694,2021,12,13,0
2021-12-12,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,12,6
2021-12-11,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,11,5
2021-12-16,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,16,3
2021-12-15,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,15,2
2021-12-14,1.1309,128.45,1.9558,25.334,7.4362,0.85345,366.85,4.6300,4.9494,10.2810,...,4.7860,1.6723,56.882,1.5469,37.716,18.1219,2021,12,14,1
2021-12-13,1.1278,128.19,1.9558,25.401,7.4362,0.85158,367.07,4.6221,4.9494,10.2310,...,4.7678,1.6651,56.731,1.5420,37.612,17.9694,2021,12,13,0
2021-12-12,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,12,6
2021-12-11,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,11,5

In [8]:
rates = forex.get_rates('EUR', date)

In [13]:
date.date()

datetime.date(2021, 12, 16)

In [9]:
rates

{'USD': 1.1262,
 'JPY': 128.25,
 'BGN': 1.9558,
 'CZK': 25.271,
 'DKK': 7.4362,
 'GBP': 0.8498,
 'HUF': 369.09,
 'PLN': 4.6272,
 'RON': 4.9493,
 'SEK': 10.2565,
 'CHF': 1.0416,
 'ISK': 146.8,
 'NOK': 10.2278,
 'HRK': 7.5208,
 'RUB': 83.0838,
 'TRY': 16.5612,
 'AUD': 1.5763,
 'BRL': 6.4354,
 'CAD': 1.4496,
 'CNY': 7.1691,
 'HKD': 8.7861,
 'IDR': 16165.75,
 'INR': 86.0345,
 'KRW': 1335.4,
 'MXN': 23.8856,
 'MYR': 4.7638,
 'NZD': 1.6689,
 'PHP': 56.574,
 'SGD': 1.5405,
 'THB': 37.615,
 'ZAR': 18.1976}

In [10]:
rates['year'] = date.year
rates['month'] = date.month
rates['day'] = date.day
rates['weekday'] = date.weekday()

In [11]:
rates

{'USD': 1.1262,
 'JPY': 128.25,
 'BGN': 1.9558,
 'CZK': 25.271,
 'DKK': 7.4362,
 'GBP': 0.8498,
 'HUF': 369.09,
 'PLN': 4.6272,
 'RON': 4.9493,
 'SEK': 10.2565,
 'CHF': 1.0416,
 'ISK': 146.8,
 'NOK': 10.2278,
 'HRK': 7.5208,
 'RUB': 83.0838,
 'TRY': 16.5612,
 'AUD': 1.5763,
 'BRL': 6.4354,
 'CAD': 1.4496,
 'CNY': 7.1691,
 'HKD': 8.7861,
 'IDR': 16165.75,
 'INR': 86.0345,
 'KRW': 1335.4,
 'MXN': 23.8856,
 'MYR': 4.7638,
 'NZD': 1.6689,
 'PHP': 56.574,
 'SGD': 1.5405,
 'THB': 37.615,
 'ZAR': 18.1976,
 'year': 2021,
 'month': 12,
 'day': 16,
 'weekday': 3}

In [25]:
df

,USD,JPY,BGN,CZK,DKK,GBP,HUF,PLN,RON,SEK,...,MYR,NZD,PHP,SGD,THB,ZAR,year,month,day,weekday
2021-12-16,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,16,3
2021-12-15,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,15,2
2021-12-14,1.1309,128.45,1.9558,25.334,7.4362,0.85345,366.85,4.6300,4.9494,10.2810,...,4.7860,1.6723,56.882,1.5469,37.716,18.1219,2021,12,14,1
2021-12-13,1.1278,128.19,1.9558,25.401,7.4362,0.85158,367.07,4.6221,4.9494,10.2310,...,4.7678,1.6651,56.731,1.5420,37.612,17.9694,2021,12,13,0
2021-12-12,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,12,6
2021-12-11,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,11,5
2021-12-16,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,16,3
2021-12-15,1.1262,128.25,1.9558,25.271,7.4362,0.84980,369.09,4.6272,4.9493,10.2565,...,4.7638,1.6689,56.574,1.5405,37.615,18.1976,2021,12,15,2
2021-12-14,1.1309,128.45,1.9558,25.334,7.4362,0.85345,366.85,4.6300,4.9494,10.2810,...,4.7860,1.6723,56.882,1.5469,37.716,18.1219,2021,12,14,1
2021-12-13,1.1278,128.19,1.9558,25.401,7.4362,0.85158,367.07,4.6221,4.9494,10.2310,...,4.7678,1.6651,56.731,1.5420,37.612,17.9694,2021,12,13,0
2021-12-12,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,12,6
2021-12-11,1.1273,128.20,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,11,5

In [28]:
df.iloc[::-1].to_csv('a')

In [29]:
def validateData(data:pd.DataFrame, existing:pd.DataFrame) -> bool:
    def lastRow():
        return existing.iloc[-1:,:]

    if (data.empty or lastRow().equals(data)):
        return False
    return True

In [30]:
df.iloc[-1:]

,USD,JPY,BGN,CZK,DKK,GBP,HUF,PLN,RON,SEK,...,MYR,NZD,PHP,SGD,THB,ZAR,year,month,day,weekday
2021-12-11,1.1273,128.2,1.9558,25.365,7.4362,0.85355,365.58,4.6123,4.9494,10.2463,...,4.7488,1.6635,56.746,1.5396,37.945,18.0414,2021,12,11,5

In [32]:
validateData(df.iloc[-1:], df)

False

In [ ]:
EUR/USD	Euro
Great British Pound/US Dollar	GBP/USD	CABLE
U.S. Dollar/Japanese Yen	USD/JPY	YEN
U.S. Dollar/Swiss Franc	USD/CHF	SWISSY
U.S. Dollar/Canadian Dollar	USD/CAD	LOONIE
Australian Dollar/U.S. Dollar	AUD/USD	AUSSIE
New Zealand Dollar/U.S. Dollar	NZD/USD

In [ ]:
EUR/CHF         Euro-Zone / Switzerland
EUR/GBP         Euro-Zone / United Kingdom
EUR/CAD         Euro-Zone / Canada
EUR/AUD        Euro-Zone / Australia
EUR/NZD         Euro-Zone / New Zealand
EUR/JPY          Euro-Zone / Japan