here we have to verify we're training correctly. we'll train manually and using the model file.

In [51]:
from itertools import product
from functools import partial
import datetime as dt
import pandas as pd
import satori
import numpy as np

In [60]:
import os
import random 
import joblib
import numpy as np
import pandas as pd
from itertools import product
from functools import partial
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import ppscore
from xgboost import XGBRegressor

In [3]:
try:
    df = pd.read_csv("../../data/history/EUR.csv", index_col=0)
except:
    pass
    #df = satori.apis.fx.compileHistory(
    #    name='EUR', 
    #    days=8000, 
    #    cooldown=0, 
    #    saveDuring=True)
df.head(2)

,USD,CHF,GBP,CAD,AUD,NZD,JPY,year,month,day,weekday
2000-01-22,1.0097,1.6102,0.6113,1.4607,1.5215,1.9623,105.53,2000,1,22,5
2000-01-23,1.0097,1.6102,0.6113,1.4607,1.5215,1.9623,105.53,2000,1,23,6

In [4]:
df.columns

Index(['USD', 'CHF', 'GBP', 'CAD', 'AUD', 'NZD', 'JPY', 'year', 'month', 'day',
       'weekday'],
      dtype='object')

In [5]:
targets = ['USD', 'CHF', 'GBP', 'CAD', 'AUD', 'NZD', 'JPY',]
times = ['year', 'month', 'day', 'weekday',]

In [6]:
# drop rows if targets are nan
df = df.drop(index=df[df[targets].isna().any(axis=1)].index)

In [7]:
# drop all but targets and times
df = df[[*targets, *times]]
df.tail(2)

,USD,CHF,GBP,CAD,AUD,NZD,JPY,year,month,day,weekday
2022-01-14,1.1447,1.0429,0.83508,1.433,1.5803,1.6745,130.17,2022,1,14,4
2022-01-15,1.1447,1.0429,0.83508,1.433,1.5803,1.6745,130.17,2022,1,15,5

In [8]:
kwargs = {
    'hyperParameters': [
        satori.HyperParameter(
            name='n_estimators',
            value=300,
            kind=int,
            limit=100,
            minimum=200,
            maximum=5000),
        satori.HyperParameter(
            name='learning_rate',
            value=0.3,
            kind=float,
            limit=.05,
            minimum=.01,
            maximum=.1),
        satori.HyperParameter(
            name='max_depth',
            value=6,
            kind=int,
            limit=1,
            minimum=2,
            maximum=10),
        #satori.HyperParameter(
        #    name='gamma',
        #    value=0,
        #    kind=float,
        #    limit=.05,
        #    minimum=0,
        #    maximum=1),
        #satori.HyperParameter(
        #    name='min_child_weight',
        #    value=1,
        #    kind=float,
        #    limit=.1,
        #    minimum=0,
        #    maximum=5),
        #satori.HyperParameter(
        #    name='max_delta_step',
        #    value=0,
        #    kind=float,
        #    limit=.01,
        #    minimum=0,
        #    maximum=1),
        #satori.HyperParameter(
        #    name='scale_pos_weight',
        #    value=1,
        #    kind=float,
        #    limit=.1,
        #    minimum=0,
        #    maximum=5),
        #satori.HyperParameter(
        #    name='base_score',
        #    value=.5,
        #    kind=float,
        #    limit=.05,
        #    minimum=0,
        #    maximum=1),
    ],
    'metrics':  {
        # raw data features
        'raw': satori.ModelManager.rawDataMetric,
        # daily percentage change, 1 day ago, 2 days ago, 3 days ago... 
        **{f'Daily{i}': partial(satori.ModelManager.dailyPercentChangeMetric, yesterday=i) for i in list(range(1, 31))},
        # rolling period transformation percentage change, max of the last 7 days, etc... 
        **{f'Rolling{i}{tx[0:3]}': partial(satori.ModelManager.rollingPercentChangeMetric, window=i, transformation=tx)
            for tx, i in product('sum() max() min() mean() median() std()'.split(), list(range(2, 21)))},
        # rolling period transformation percentage change, max of the last 50 or 70 days, etc... 
        **{f'Rolling{i}{tx[0:3]}': partial(satori.ModelManager.rollingPercentChangeMetric, window=i, transformation=tx)
            for tx, i in product('sum() max() min() mean() median() std()'.split(), list(range(22, 90, 7)))}},
    'override': True}

In [9]:
models = {
        satori.ModelManager(
            modelPath=f'../../models/EUR{currency}New.jobLib',
            chosenFeatures=[f'Raw{currency}'],
            pinnedFeatures=[f'Raw{currency}'],
            targetKey=currency,
            **kwargs) 
        for currency in targets
    }

In [25]:
list(models)[6].data

          High       Low    Close
0     0.837240  0.830560  0.83577
1     0.837100  0.825830  0.82720
2     0.828020  0.824400  0.82488
3     0.830290  0.823450  0.82775
4     0.828780  0.820280  0.82055
...        ...       ...      ...
4590  0.846070  0.843668  0.84560
4591  0.849574  0.846200  0.84660
4592  0.847314  0.844096  0.84660
4593  0.847200  0.844800  0.84660
4594  0.828800  0.820260  0.82055

[4595 rows x 3 columns]

In [22]:
model = satori.ModelManager(
            modelPath=f'../../models/EURUSDNew.jobLib',
            chosenFeatures=[f'RawUSD'],
            pinnedFeatures=[f'RawUSD'],
            targetKey='USD',
            **kwargs)

In [24]:
model.data

          High       Low    Close
0     0.837240  0.830560  0.83577
1     0.837100  0.825830  0.82720
2     0.828020  0.824400  0.82488
3     0.830290  0.823450  0.82775
4     0.828780  0.820280  0.82055
...        ...       ...      ...
4590  0.846070  0.843668  0.84560
4591  0.849574  0.846200  0.84660
4592  0.847314  0.844096  0.84660
4593  0.847200  0.844800  0.84660
4594  0.828800  0.820260  0.82055

[4595 rows x 3 columns]

In [28]:
model.chosenFeatures

['RawUSD']

In [37]:
model.dataPath

'data.parquet'

In [30]:
model.produceFeatureSet()

In [33]:
model.features.get('RawUSD')

In [34]:
model.buildStable()

KeyError: 'USD'

In [36]:
model.data

          High       Low    Close
0     0.837240  0.830560  0.83577
1     0.837100  0.825830  0.82720
2     0.828020  0.824400  0.82488
3     0.830290  0.823450  0.82775
4     0.828780  0.820280  0.82055
...        ...       ...      ...
4590  0.846070  0.843668  0.84560
4591  0.849574  0.846200  0.84660
4592  0.847314  0.844096  0.84660
4593  0.847200  0.844800  0.84660
4594  0.828800  0.820260  0.82055

[4595 rows x 3 columns]

In [74]:
# target
target = pd.DataFrame(model.data.loc[:, 'High'].shift(-1))
target

       RawHigh
0     0.837100
1     0.828020
2     0.830290
3     0.828780
4     0.822770
...        ...
4590  0.849574
4591  0.847314
4592  0.847200
4593  0.828800
4594       NaN

[4595 rows x 1 columns]

In [55]:
# feature
features = [model.features.get('RawHigh')(model.data)]
features

[0       0.837240
 1       0.837100
 2       0.828020
 3       0.830290
 4       0.828780
           ...
 4590    0.846070
 4591    0.849574
 4592    0.847314
 4593    0.847200
 4594    0.828800
 Name: RawHigh, Length: 4595, dtype: float64]

In [56]:
featureSet = pd.concat(features, axis = 1, keys = ['RawHigh'])
featureSet

       RawHigh
0     0.837240
1     0.837100
2     0.828020
3     0.830290
4     0.828780
...        ...
4590  0.846070
4591  0.849574
4592  0.847314
4593  0.847200
4594  0.828800

[4595 rows x 1 columns]

In [57]:
# predictable
current = pd.DataFrame(featureSet.iloc[-1, :]).T.dropna(axis=1)
current

      RawHigh
4594   0.8288

In [65]:
df = featureSet.copy()

In [66]:
df = df.iloc[0:-1, :].replace([np.inf, -np.inf], np.nan).reset_index(drop=True)
df

       RawHigh
0     0.837240
1     0.837100
2     0.828020
3     0.830290
4     0.828780
...        ...
4589  0.847020
4590  0.846070
4591  0.849574
4592  0.847314
4593  0.847200

[4594 rows x 1 columns]

In [306]:
data = df
labels = target.iloc[0:df.shape[0], :]

In [296]:
trainX, testX, trainY, testY = train_test_split(
    df, target.iloc[0:df.shape[0], :], test_size=.5, shuffle=False)

In [297]:
pd.concat([trainX, trainY], axis=1, keys=['trainX', 'trainY'])

        trainX    trainY
       RawHigh   RawHigh
0     0.837240  0.837100
1     0.837100  0.828020
2     0.828020  0.830290
3     0.830290  0.828780
4     0.828780  0.822770
...        ...       ...
2292  0.772000  0.764100
2293  0.764100  0.764374
2294  0.764374  0.768280
2295  0.768280  0.767900
2296  0.767900  0.771992

[2297 rows x 2 columns]

In [298]:
pd.concat([testX, testY], axis=1, keys=['testX', 'testY'])

         testX     testY
       RawHigh   RawHigh
2297  0.771992  0.773772
2298  0.773772  0.772550
2299  0.772550  0.775690
2300  0.775690  0.775800
2301  0.775800  0.775930
...        ...       ...
4589  0.847020  0.846070
4590  0.846070  0.849574
4591  0.849574  0.847314
4592  0.847314  0.847200
4593  0.847200  0.828800

[2297 rows x 2 columns]

In [299]:
xgb = XGBRegressor(
    **{
        param.name: param.value 
        for param in model.hyperParameters 
        if param.name != 'n_estimators'}, 
    n_estimators=3000)

In [307]:
xgb.fit(
    data,
    labels,
    eval_set=[(data, labels)],
    eval_metric='mae', 
    early_stopping_rounds=128,
    verbose=True)

[0]	validation_0-mae:0.21366
[1]	validation_0-mae:0.14969
[2]	validation_0-mae:0.10488
[3]	validation_0-mae:0.07350
[4]	validation_0-mae:0.05153
[5]	validation_0-mae:0.03614
[6]	validation_0-mae:0.02536
[7]	validation_0-mae:0.01781
[8]	validation_0-mae:0.01256
[9]	validation_0-mae:0.00895
[10]	validation_0-mae:0.00657
[11]	validation_0-mae:0.00505
[12]	validation_0-mae:0.00412
[13]	validation_0-mae:0.00359
[14]	validation_0-mae:0.00329
[15]	validation_0-mae:0.00312
[16]	validation_0-mae:0.00303
[17]	validation_0-mae:0.00297
[18]	validation_0-mae:0.00292
[19]	validation_0-mae:0.00290
[20]	validation_0-mae:0.00288
[21]	validation_0-mae:0.00287
[22]	validation_0-mae:0.00286
[23]	validation_0-mae:0.00284
[24]	validation_0-mae:0.00284
[25]	validation_0-mae:0.00283
[26]	validation_0-mae:0.00282
[27]	validation_0-mae:0.00281
[28]	validation_0-mae:0.00280
[29]	validation_0-mae:0.00279
[30]	validation_0-mae:0.00279
[31]	validation_0-mae:0.00278
[32]	validation_0-mae:0.00277
[33]	validation_0-mae:0.00276
[34]	validation_0-mae:0.00276
[35]	validation_0-mae:0.00275
[36]	validation_0-mae:0.00275
[37]	validation_0-mae:0.00275
[38]	validation_0-mae:0.00274
[39]	validation_0-mae:0.00273
[40]	validation_0-mae:0.00272
[41]	validation_0-mae:0.00271
[42]	validation_0-mae:0.00271
[43]	validation_0-mae:0.00271
[44]	validation_0-mae:0.00270
[45]	validation_0-mae:0.00269
[46]	validation_0-mae:0.00268
[47]	validation_0-mae:0.00268
[48]	validation_0-mae:0.00267
[49]	validation_0-mae:0.00267
[50]	validation_0-mae:0.00267
[51]	validation_0-mae:0.00266
[52]	validation_0-mae:0.00266
[53]	validation_0-mae:0.00265
[54]	validation_0-mae:0.00264
[55]	validation_0-mae:0.00263
[56]	validation_0-mae:0.00262
[57]	validation_0-mae:0.00261
[58]	validation_0-mae:0.00261
[59]	validation_0-mae:0.00261
[60]	validation_0-mae:0.00261
[61]	validation_0-mae:0.00260
[62]	validation_0-mae:0.00260
[63]	validation_0-mae:0.00260
[64]	validation_0-mae:0.00260
[65]	validation_0-mae:0.00259
[66]	validation_0-mae:0.00259
[67]	validation_0-mae:0.00258
[68]	validation_0-mae:0.00258
[69]	validation_0-mae:0.00257
[70]	validation_0-mae:0.00257
[71]	validation_0-mae:0.00256
[72]	validation_0-mae:0.00255
[73]	validation_0-mae:0.00254
[74]	validation_0-mae:0.00254
[75]	validation_0-mae:0.00253
[76]	validation_0-mae:0.00253
[77]	validation_0-mae:0.00253
[78]	validation_0-mae:0.00253
[79]	validation_0-mae:0.00253
[80]	validation_0-mae:0.00253
[81]	validation_0-mae:0.00253
[82]	validation_0-mae:0.00253
[83]	validation_0-mae:0.00253
[84]	validation_0-mae:0.00253
[85]	validation_0-mae:0.00253
[86]	validation_0-mae:0.00253
[87]	validation_0-mae:0.00253
[88]	validation_0-mae:0.00253
[89]	validation_0-mae:0.00253
[90]	validation_0-mae:0.00253
[91]	validation_0-mae:0.00253
[92]	validation_0-mae:0.00253
[93]	validation_0-mae:0.00253
[94]	validation_0-mae:0.00253
[95]	validation_0-mae:0.00253
[96]	validation_0-mae:0.00253
[97]	validation_0-mae:0.00253
[98]	validation_0-mae:0.00253
[99]	validation_0-mae:0.00253
[100]	validation_0-mae:0.00253
[101]	validation_0-mae:0.00253
[102]	validation_0-mae:0.00253
[103]	validation_0-mae:0.00253
[104]	validation_0-mae:0.00253
[105]	validation_0-mae:0.00253
[106]	validation_0-mae:0.00253
[107]	validation_0-mae:0.00253
[108]	validation_0-mae:0.00253
[109]	validation_0-mae:0.00253
[110]	validation_0-mae:0.00253
[111]	validation_0-mae:0.00253
[112]	validation_0-mae:0.00253
[113]	validation_0-mae:0.00253
[114]	validation_0-mae:0.00253
[115]	validation_0-mae:0.00253
[116]	validation_0-mae:0.00253
[117]	validation_0-mae:0.00253
[118]	validation_0-mae:0.00253
[119]	validation_0-mae:0.00253
[120]	validation_0-mae:0.00253
[121]	validation_0-mae:0.00253
[122]	validation_0-mae:0.00253
[123]	validation_0-mae:0.00253
[124]	validation_0-mae:0.00253
[125]	validation_0-mae:0.00253
[126]	validation_0-mae:0.00253
[127]	validation_0-mae:0.00253
[128]	validation_0-mae:0.00253
[129]	validation_0-mae:0.00253
[130]	validation_0-mae:0.00253
[131]	validation_0-mae:0.00253
[132]	validation_0-mae:0.00253
[133]	validation_0-mae:0.00253
[134]	validation_0-mae:0.00253
[135]	validation_0-mae:0.00253
[136]	validation_0-mae:0.00253
[137]	validation_0-mae:0.00253
[138]	validation_0-mae:0.00253
[139]	validation_0-mae:0.00253
[140]	validation_0-mae:0.00253
[141]	validation_0-mae:0.00253
[142]	validation_0-mae:0.00253
[143]	validation_0-mae:0.00253
[144]	validation_0-mae:0.00253
[145]	validation_0-mae:0.00253
[146]	validation_0-mae:0.00253
[147]	validation_0-mae:0.00253
[148]	validation_0-mae:0.00253
[149]	validation_0-mae:0.00253
[150]	validation_0-mae:0.00253
[151]	validation_0-mae:0.00253
[152]	validation_0-mae:0.00253
[153]	validation_0-mae:0.00253
[154]	validation_0-mae:0.00253
[155]	validation_0-mae:0.00253
[156]	validation_0-mae:0.00253
[157]	validation_0-mae:0.00253
[158]	validation_0-mae:0.00253
[159]	validation_0-mae:0.00253
[160]	validation_0-mae:0.00253
[161]	validation_0-mae:0.00253
[162]	validation_0-mae:0.00253
[163]	validation_0-mae:0.00253
[164]	validation_0-mae:0.00253
[165]	validation_0-mae:0.00253
[166]	validation_0-mae:0.00253
[167]	validation_0-mae:0.00253
[168]	validation_0-mae:0.00253
[169]	validation_0-mae:0.00253
[170]	validation_0-mae:0.00253
[171]	validation_0-mae:0.00253
[172]	validation_0-mae:0.00253
[173]	validation_0-mae:0.00253
[174]	validation_0-mae:0.00253
[175]	validation_0-mae:0.00253
[176]	validation_0-mae:0.00253
[177]	validation_0-mae:0.00253
[178]	validation_0-mae:0.00253
[179]	validation_0-mae:0.00253
[180]	validation_0-mae:0.00253
[181]	validation_0-mae:0.00253
[182]	validation_0-mae:0.00253
[183]	validation_0-mae:0.00253
[184]	validation_0-mae:0.00253
[185]	validation_0-mae:0.00253
[186]	validation_0-mae:0.00253
[187]	validation_0-mae:0.00253
[188]	validation_0-mae:0.00253
[189]	validation_0-mae:0.00253
[190]	validation_0-mae:0.00253
[191]	validation_0-mae:0.00253
[192]	validation_0-mae:0.00253
[193]	validation_0-mae:0.00253
[194]	validation_0-mae:0.00253
[195]	validation_0-mae:0.00253
[196]	validation_0-mae:0.00253
[197]	validation_0-mae:0.00253
[198]	validation_0-mae:0.00253
[199]	validation_0-mae:0.00253
[200]	validation_0-mae:0.00253
[201]	validation_0-mae:0.00253
[202]	validation_0-mae:0.00253
[203]	validation_0-mae:0.00253

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.3, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=3000, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [304]:
xgb.fit(
    trainX,
    trainY,
    eval_set=[(trainX, trainY), (testX, testY)],
    eval_metric='mae', 
    early_stopping_rounds=128,
    verbose=True)

[0]	validation_0-mae:0.18133	validation_1-mae:0.25900
[1]	validation_0-mae:0.12708	validation_1-mae:0.19352
[2]	validation_0-mae:0.08910	validation_1-mae:0.14632
[3]	validation_0-mae:0.06250	validation_1-mae:0.11204
[4]	validation_0-mae:0.04387	validation_1-mae:0.08818
[5]	validation_0-mae:0.03083	validation_1-mae:0.07024
[6]	validation_0-mae:0.02167	validation_1-mae:0.05787
[7]	validation_0-mae:0.01527	validation_1-mae:0.04833
[8]	validation_0-mae:0.01083	validation_1-mae:0.04156
[9]	validation_0-mae:0.00785	validation_1-mae:0.03667
[10]	validation_0-mae:0.00594	validation_1-mae:0.03348
[11]	validation_0-mae:0.00477	validation_1-mae:0.03100
[12]	validation_0-mae:0.00409	validation_1-mae:0.02908
[13]	validation_0-mae:0.00372	validation_1-mae:0.02795
[14]	validation_0-mae:0.00348	validation_1-mae:0.02698
[15]	validation_0-mae:0.00337	validation_1-mae:0.02620
[16]	validation_0-mae:0.00329	validation_1-mae:0.02598
[17]	validation_0-mae:0.00324	validation_1-mae:0.02549
[18]	validation_0-mae:0.00321	validation_1-mae:0.02516
[19]	validation_0-mae:0.00317	validation_1-mae:0.02510
[20]	validation_0-mae:0.00315	validation_1-mae:0.02482
[21]	validation_0-mae:0.00313	validation_1-mae:0.02479
[22]	validation_0-mae:0.00309	validation_1-mae:0.02477
[23]	validation_0-mae:0.00308	validation_1-mae:0.02466
[24]	validation_0-mae:0.00306	validation_1-mae:0.02465
[25]	validation_0-mae:0.00304	validation_1-mae:0.02464
[26]	validation_0-mae:0.00302	validation_1-mae:0.02463
[27]	validation_0-mae:0.00301	validation_1-mae:0.02463
[28]	validation_0-mae:0.00300	validation_1-mae:0.02447
[29]	validation_0-mae:0.00299	validation_1-mae:0.02445
[30]	validation_0-mae:0.00298	validation_1-mae:0.02445
[31]	validation_0-mae:0.00297	validation_1-mae:0.02445
[32]	validation_0-mae:0.00297	validation_1-mae:0.02444
[33]	validation_0-mae:0.00296	validation_1-mae:0.02443
[34]	validation_0-mae:0.00294	validation_1-mae:0.02443
[35]	validation_0-mae:0.00292	validation_1-mae:0.02444
[36]	validation_0-mae:0.00291	validation_1-mae:0.02443
[37]	validation_0-mae:0.00290	validation_1-mae:0.02432
[38]	validation_0-mae:0.00289	validation_1-mae:0.02432
[39]	validation_0-mae:0.00287	validation_1-mae:0.02432
[40]	validation_0-mae:0.00285	validation_1-mae:0.02432
[41]	validation_0-mae:0.00283	validation_1-mae:0.02432
[42]	validation_0-mae:0.00281	validation_1-mae:0.02433
[43]	validation_0-mae:0.00281	validation_1-mae:0.02433
[44]	validation_0-mae:0.00279	validation_1-mae:0.02433
[45]	validation_0-mae:0.00278	validation_1-mae:0.02434
[46]	validation_0-mae:0.00277	validation_1-mae:0.02434
[47]	validation_0-mae:0.00276	validation_1-mae:0.02434
[48]	validation_0-mae:0.00276	validation_1-mae:0.02433
[49]	validation_0-mae:0.00274	validation_1-mae:0.02435
[50]	validation_0-mae:0.00273	validation_1-mae:0.02435
[51]	validation_0-mae:0.00272	validation_1-mae:0.02435
[52]	validation_0-mae:0.00271	validation_1-mae:0.02435
[53]	validation_0-mae:0.00271	validation_1-mae:0.02435
[54]	validation_0-mae:0.00271	validation_1-mae:0.02427
[55]	validation_0-mae:0.00270	validation_1-mae:0.02427
[56]	validation_0-mae:0.00270	validation_1-mae:0.02427
[57]	validation_0-mae:0.00269	validation_1-mae:0.02428
[58]	validation_0-mae:0.00269	validation_1-mae:0.02425
[59]	validation_0-mae:0.00269	validation_1-mae:0.02426
[60]	validation_0-mae:0.00268	validation_1-mae:0.02425
[61]	validation_0-mae:0.00267	validation_1-mae:0.02426
[62]	validation_0-mae:0.00267	validation_1-mae:0.02426
[63]	validation_0-mae:0.00266	validation_1-mae:0.02426
[64]	validation_0-mae:0.00266	validation_1-mae:0.02426
[65]	validation_0-mae:0.00266	validation_1-mae:0.02426
[66]	validation_0-mae:0.00266	validation_1-mae:0.02426
[67]	validation_0-mae:0.00266	validation_1-mae:0.02426
[68]	validation_0-mae:0.00266	validation_1-mae:0.02426
[69]	validation_0-mae:0.00266	validation_1-mae:0.02426
[70]	validation_0-mae:0.00266	validation_1-mae:0.02426
[71]	validation_0-mae:0.00266	validation_1-mae:0.02426
[72]	validation_0-mae:0.00266	validation_1-mae:0.02426
[73]	validation_0-mae:0.00266	validation_1-mae:0.02426
[74]	validation_0-mae:0.00266	validation_1-mae:0.02426
[75]	validation_0-mae:0.00266	validation_1-mae:0.02426
[76]	validation_0-mae:0.00266	validation_1-mae:0.02426
[77]	validation_0-mae:0.00266	validation_1-mae:0.02426
[78]	validation_0-mae:0.00266	validation_1-mae:0.02426
[79]	validation_0-mae:0.00266	validation_1-mae:0.02426
[80]	validation_0-mae:0.00266	validation_1-mae:0.02426
[81]	validation_0-mae:0.00266	validation_1-mae:0.02426
[82]	validation_0-mae:0.00266	validation_1-mae:0.02426
[83]	validation_0-mae:0.00266	validation_1-mae:0.02426
[84]	validation_0-mae:0.00266	validation_1-mae:0.02426
[85]	validation_0-mae:0.00266	validation_1-mae:0.02426
[86]	validation_0-mae:0.00266	validation_1-mae:0.02426
[87]	validation_0-mae:0.00266	validation_1-mae:0.02426
[88]	validation_0-mae:0.00266	validation_1-mae:0.02426
[89]	validation_0-mae:0.00266	validation_1-mae:0.02426
[90]	validation_0-mae:0.00266	validation_1-mae:0.02426
[91]	validation_0-mae:0.00266	validation_1-mae:0.02426
[92]	validation_0-mae:0.00266	validation_1-mae:0.02426
[93]	validation_0-mae:0.00266	validation_1-mae:0.02426
[94]	validation_0-mae:0.00266	validation_1-mae:0.02426
[95]	validation_0-mae:0.00266	validation_1-mae:0.02426
[96]	validation_0-mae:0.00266	validation_1-mae:0.02426
[97]	validation_0-mae:0.00266	validation_1-mae:0.02426
[98]	validation_0-mae:0.00266	validation_1-mae:0.02426
[99]	validation_0-mae:0.00266	validation_1-mae:0.02426
[100]	validation_0-mae:0.00266	validation_1-mae:0.02426
[101]	validation_0-mae:0.00266	validation_1-mae:0.02426
[102]	validation_0-mae:0.00266	validation_1-mae:0.02426
[103]	validation_0-mae:0.00266	validation_1-mae:0.02426
[104]	validation_0-mae:0.00266	validation_1-mae:0.02426
[105]	validation_0-mae:0.00266	validation_1-mae:0.02426
[106]	validation_0-mae:0.00266	validation_1-mae:0.02426
[107]	validation_0-mae:0.00266	validation_1-mae:0.02426
[108]	validation_0-mae:0.00266	validation_1-mae:0.02426
[109]	validation_0-mae:0.00266	validation_1-mae:0.02426
[110]	validation_0-mae:0.00266	validation_1-mae:0.02426
[111]	validation_0-mae:0.00266	validation_1-mae:0.02426
[112]	validation_0-mae:0.00266	validation_1-mae:0.02426
[113]	validation_0-mae:0.00266	validation_1-mae:0.02426
[114]	validation_0-mae:0.00266	validation_1-mae:0.02426
[115]	validation_0-mae:0.00266	validation_1-mae:0.02426
[116]	validation_0-mae:0.00266	validation_1-mae:0.02426
[117]	validation_0-mae:0.00266	validation_1-mae:0.02426
[118]	validation_0-mae:0.00266	validation_1-mae:0.02426
[119]	validation_0-mae:0.00266	validation_1-mae:0.02426
[120]	validation_0-mae:0.00266	validation_1-mae:0.02426
[121]	validation_0-mae:0.00266	validation_1-mae:0.02426
[122]	validation_0-mae:0.00266	validation_1-mae:0.02426
[123]	validation_0-mae:0.00266	validation_1-mae:0.02426
[124]	validation_0-mae:0.00266	validation_1-mae:0.02426
[125]	validation_0-mae:0.00266	validation_1-mae:0.02426
[126]	validation_0-mae:0.00266	validation_1-mae:0.02426
[127]	validation_0-mae:0.00266	validation_1-mae:0.02426
[128]	validation_0-mae:0.00266	validation_1-mae:0.02426
[129]	validation_0-mae:0.00266	validation_1-mae:0.02426
[130]	validation_0-mae:0.00266	validation_1-mae:0.02426
[131]	validation_0-mae:0.00266	validation_1-mae:0.02426
[132]	validation_0-mae:0.00266	validation_1-mae:0.02426
[133]	validation_0-mae:0.00266	validation_1-mae:0.02426
[134]	validation_0-mae:0.00266	validation_1-mae:0.02426
[135]	validation_0-mae:0.00266	validation_1-mae:0.02426
[136]	validation_0-mae:0.00266	validation_1-mae:0.02426
[137]	validation_0-mae:0.00266	validation_1-mae:0.02426
[138]	validation_0-mae:0.00266	validation_1-mae:0.02426
[139]	validation_0-mae:0.00266	validation_1-mae:0.02426
[140]	validation_0-mae:0.00266	validation_1-mae:0.02426
[141]	validation_0-mae:0.00266	validation_1-mae:0.02426
[142]	validation_0-mae:0.00266	validation_1-mae:0.02426
[143]	validation_0-mae:0.00266	validation_1-mae:0.02426
[144]	validation_0-mae:0.00266	validation_1-mae:0.02426
[145]	validation_0-mae:0.00266	validation_1-mae:0.02426
[146]	validation_0-mae:0.00266	validation_1-mae:0.02426
[147]	validation_0-mae:0.00266	validation_1-mae:0.02426
[148]	validation_0-mae:0.00266	validation_1-mae:0.02426

[149]	validation_0-mae:0.00266	validation_1-mae:0.02426
[150]	validation_0-mae:0.00266	validation_1-mae:0.02426
[151]	validation_0-mae:0.00266	validation_1-mae:0.02426
[152]	validation_0-mae:0.00266	validation_1-mae:0.02426
[153]	validation_0-mae:0.00266	validation_1-mae:0.02426
[154]	validation_0-mae:0.00266	validation_1-mae:0.02426
[155]	validation_0-mae:0.00266	validation_1-mae:0.02426
[156]	validation_0-mae:0.00266	validation_1-mae:0.02426
[157]	validation_0-mae:0.00266	validation_1-mae:0.02426
[158]	validation_0-mae:0.00266	validation_1-mae:0.02426
[159]	validation_0-mae:0.00266	validation_1-mae:0.02426
[160]	validation_0-mae:0.00266	validation_1-mae:0.02426
[161]	validation_0-mae:0.00266	validation_1-mae:0.02426
[162]	validation_0-mae:0.00266	validation_1-mae:0.02426
[163]	validation_0-mae:0.00266	validation_1-mae:0.02426
[164]	validation_0-mae:0.00266	validation_1-mae:0.02426
[165]	validation_0-mae:0.00266	validation_1-mae:0.02426
[166]	validation_0-mae:0.00266	validation_1-mae:0.02426
[167]	validation_0-mae:0.00266	validation_1-mae:0.02426
[168]	validation_0-mae:0.00266	validation_1-mae:0.02426
[169]	validation_0-mae:0.00266	validation_1-mae:0.02426
[170]	validation_0-mae:0.00266	validation_1-mae:0.02426
[171]	validation_0-mae:0.00266	validation_1-mae:0.02426
[172]	validation_0-mae:0.00266	validation_1-mae:0.02426
[173]	validation_0-mae:0.00266	validation_1-mae:0.02426
[174]	validation_0-mae:0.00266	validation_1-mae:0.02426
[175]	validation_0-mae:0.00266	validation_1-mae:0.02426
[176]	validation_0-mae:0.00266	validation_1-mae:0.02426
[177]	validation_0-mae:0.00266	validation_1-mae:0.02426
[178]	validation_0-mae:0.00266	validation_1-mae:0.02426
[179]	validation_0-mae:0.00266	validation_1-mae:0.02426
[180]	validation_0-mae:0.00266	validation_1-mae:0.02426
[181]	validation_0-mae:0.00266	validation_1-mae:0.02426
[182]	validation_0-mae:0.00266	validation_1-mae:0.02426
[183]	validation_0-mae:0.00266	validation_1-mae:0.02426
[184]	validation_0-mae:0.00266	validation_1-mae:0.02426
[185]	validation_0-mae:0.00266	validation_1-mae:0.02426
[186]	validation_0-mae:0.00266	validation_1-mae:0.02426
[187]	validation_0-mae:0.00266	validation_1-mae:0.02426

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.3, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=3000, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [310]:
evals_result = xgb.evals_result()

In [311]:
yesterday

       RawHigh
4592  0.847314

In [312]:
today

      RawHigh
4593   0.8472

In [313]:
current

      RawHigh
4594   0.8288

In [315]:
xgb.predict(today)#, iteration_range=(7,56))

array([0.8387696], dtype=float32)

[299]	validation_0-mae:0.00253	validation_1-mae:0.00292
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.3, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=300, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [106]:
#20 %
xgb.predict(current)

array([0.8284466], dtype=float32)

In [112]:
#10 %
xgb.predict(current)

array([0.8275409], dtype=float32)

In [118]:
#1 %
xgb.predict(current)

array([0.82887274], dtype=float32)

In [127]:
#0 %
xgb.predict(current)

array([0.8291307], dtype=float32)

In [135]:
#0 % no eval set
xgb.predict(current)

array([0.8291307], dtype=float32)

In [136]:
current

      RawHigh
4594   0.8288

In [172]:
testX

       RawHigh
4592  0.847314
4593  0.847200

In [170]:
yesterday = pd.DataFrame(testX.iloc[0]).T

In [292]:
yesterday

       RawHigh
4592  0.847314

In [293]:
#today = pd.DataFrame(testX.iloc[-1]).T
today

      RawHigh
4593   0.8472

In [173]:
#0 % no eval set
xgb.predict(yesterday)

array([0.8494901], dtype=float32)

In [179]:
#20 %
xgb.predict(yesterday)

array([0.8475488], dtype=float32)

In [185]:
#10 %
xgb.predict(yesterday)

array([0.8458524], dtype=float32)

In [191]:
#1 %
xgb.predict(yesterday)

array([0.8482324], dtype=float32)

In [197]:
#50 %
xgb.predict(yesterday)

array([0.8471888], dtype=float32)

In [199]:
#50 %
xgb.predict(yesterday)

array([0.8471888], dtype=float32)

In [201]:
xgb.base_score

In [294]:
#50 %
xgb.predict( pd.DataFrame({'RawHigh':[.8286]}))

array([0.8291556], dtype=float32)

In [305]:
target

       RawHigh
0     0.837100
1     0.828020
2     0.830290
3     0.828780
4     0.822770
...        ...
4590  0.849574
4591  0.847314
4592  0.847200
4593  0.828800
4594       NaN

[4595 rows x 1 columns]